:root{
    --primary-color: hsl(75, 94%, 57%);
    --secondary-color: hsl(0, 0%, 100%);
    --tertiary-color: hsl(0, 0%, 20%);
    --quaternary-color: hsl(0, 0%, 12%);
    --quinary-color: hsl(0, 0%, 8%);
    --font-size: 0.875rem;

}

@font-face {
    font-family: Inter;
    src: url( assets/fonts/Inter-VariableFont_slnt,wght.ttf) format( "truetype" );
    font-weight: 400 600 700;
}
    

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--quinary-color);
    font-family: Inter;
    font-size: var(--font-size);
    color: var(--secondary-color);
}

.social-card{
    background-color: var(--quaternary-color);
    max-width: 400px;
    padding: 32px 40px;
    border-radius: 1rem;

    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fig-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.3em;
}

.profile-pic{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

h3{
    color: var(--primary-color);
    margin:8px 0 16px 0;
}

q{
    text-align: center;
    margin-bottom: 32px;
}

.social-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 100%;
}

.social-links a{
    text-decoration: none;
    color: var(--secondary-color);
    background-color: var(--tertiary-color);
    padding: 12px 40px;
    border-radius: 8px;
    width: 100%;

    text-align: center;
   
}

.social-links a:hover{
    background-color: var(--primary-color);
    color: var(--quaternary-color);
}








.attribution {
    font-size: 11px; text-align: center;
}


.attribution a { 
    color: hsl(228, 45%, 44%);
}